/* font poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* ======================================== VARIABLE */
:root{
    --secondary-color: #FED705;
    --alternative-color: #FEDE3E;
    --gradient-yellow: linear-gradient(135deg,#FED705 ,#FEDE3E );
}
/* ================================================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
}

/* ==================== WRAPPER */
.wrapper{
    width: 100%;
    margin: auto;
    background-color: white;
}

/* ALL IN ONE */
a, button{
    text-decoration: none;
    color:black;
    cursor: pointer;
}

button{
    background-color: black;
    outline: none;
    border:none;
    border-radius: 30px;
    padding:0.75rem 0;
    color:#fff;
    font-weight: 500;
    font-size: 1rem;
    border:2px solid black;
    transition: all 0.3s ease-out;
}

p{
    padding-bottom: 3rem;
}

.our-profile ,.our-headquarter, .portfolio, .message-us{
    padding:5rem 0;
}

button:hover{
    background-color: white;
    color: black;
    border:2px solid black;
}

nav#web, .our-profile ,.our-headquarter, .portfolio, .message-us{
    width: 1200px;
    margin: auto;
}

.our-profile ,.our-headquarter, .portfolio, .message-us{
    text-align: center;
}

.message-us .input-wrapper{
    text-align: left;
}

h2{
    font-size: 3.5rem;
}

header, footer{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

span#first{
    position: absolute;
    top: 15rem;
    left: -30rem;
    z-index: 1;
    padding: 2rem;
}

span#second{
    position: absolute;
    bottom: 15rem;
    right: -30rem;
    z-index: 1;
}

span.wave img{
    width: 200px;
}

/* ==================== HEADER */
header{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url('/assets/welcome-banner-2.jpg');
    color:#fff;
}

/* ==================== NAV */
nav, nav#web ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
}

nav#web{
    align-items: center;
}

nav#web .logo-noe{
    width: 55px;
}

nav#web, section{
    padding:2rem;
}

nav#web ul{
    gap: 2rem;
}

nav ul li{
 list-style: none;
}

nav#web ul li a{
    font-size: 1.15rem;
    font-weight: 500;
    transition: all 0.2s ease-out;
    padding:0.8rem;
    border-radius: 20px;
    color:#eee;
}

nav#mobile ul li a{
    display: block;
    margin-bottom: 2rem;
}

nav#mobile ul li a{
    font-size: 1.15rem;
    font-weight: 500;
    transition: all 0.2s ease-out;
    padding:0.5rem 2rem;
    border-radius: 20px;
    color:#333;
}

nav#web ul li a:hover, nav#mobile ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 30px;
}


nav #menu, nav#mobile{
    display: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav#mobile.active{
    z-index: 9999999;
}

nav #menu, nav#mobile.active #close{
    font-size: 40px;
    margin:0.75rem;
}

nav#mobile.active #close{
    padding:0.5rem;
}

/* ==================== WELCOME */
.welcome{
    width: 1400px;
    margin:auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 2;
}

.welcome .description{
    padding: 4rem;
    display: block;
}

.welcome h1{
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
}

.welcome p{
    display: block;
    font-size: 1.25rem;
    font-weight: 300;
    color:#ddd;
    width: 90%;
    margin: auto;
}

.welcome span{
    color: var(--secondary-color);
    border-radius: 35px;
    padding:0.5rem;
}

.black-shadow{
    width: 100%;
    padding:0.2rem;
    position: absolute;
    bottom: 0;
    box-shadow: 5px 5px 100px black;
    background-color: black;
    filter: blur(5px);
}

/* ==================== OUR-PROFILE */
.our-profile{
    position: relative;
    padding-bottom: 10rem;
}

.our-profile-description:nth-child(2){
    padding-bottom: 4rem;
}

.our-profile-description{
    display: flex;
     flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 2rem;
    text-align: center;
    align-items: center;
    gap:10rem;
}

.outer-about{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.our-profile .about-texts span{
    background-color: var(--alternative-color);
    border-radius: 100%;
    font-size: 2rem;
}

.our-profile .about-texts{
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-size: 1.25rem;
    text-align: justify;
}



.our-profile h3{
    font-size: 2.5rem;
}

.our-profile-description:nth-child(2){
 flex-direction: row;
}

.our-profile-description p{
    font-size: 2rem;
    font-weight: 500;
}

.our-profile-description img{
    width: 500px;
    height: 400px;
    border-radius:10rem 2rem 5rem 2rem;
    object-fit: cover;
    transition: all 0.3s ease;
}

.our-profile-description img:hover{
    transform: scale(0.95);
    cursor: pointer;
}

/* ==================== BRANDS */
.brands-container{
    width: 100%;
    background-color: var(--secondary-color);
    padding: 2rem 0;
    align-items: center;
}

.brands-container img{
    width: 100px;
    height: 100px;
    margin: 0 4rem;
    object-fit: cover;
}

/* ==================== PORTFOLIO */
.outer-portfolio{
    width: 100%;
    position: relative;
    
}

.portfolio-images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2rem;
    background-color: black;
    color: #fff;
    font-size: 1.25rem;
}

.portfolio-images img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding-bottom: 2rem;
}

/* ==================== OUR-HEADQUARTER */
.headquarter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 60vh;
    place-items: center;
}


.headquarter img{
    width: 300px;
    height:  300px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}


/* ==================== MESSAGE-US */
.outer-message-us{
    width: 100%;
    margin:auto;
    background-color: var(--alternative-color);
}


.input-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:2rem;
    gap:4rem;
}

.form-group{
    display: grid;
    grid-template-columns: 150px 1fr;
}

.form-group .radio-group{
    display: flex;
    align-items: center;
    gap:1.25rem;
}

input[type="radio"]{
    margin-right: 0.5rem;
    cursor: pointer;
}

input[type="radio"]:checked{
    accent-color: black;
}

.inputUser{
    display: flex;
    flex-direction: column;
}

.inputUser, input{
    font-size: 0.95rem;
}



.inputUser button{
    width: 100%;
}

.inputUser input, textarea{
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 0.5rem;
    border:none;
}

textarea{
    height: 100px;
    resize: none;
}

.outputUser{
    border-radius: 4px;
    background-color: #ffff;
    padding:1rem;
    min-height: 25vh;
    color:black;
}


/* ==================== FOOTER */
.footer-container{
    width: 100%;
    margin: auto;
    min-height: 60vh;
    background-color: black;
    color:white;    
}

.footer{
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-top: 5rem;
}

footer .left h3{
    font-size: 2rem;
}

footer .left h4{
    font-weight: 400;
}


footer .right{
    display: flex;
    gap:2rem;
}


footer .right .title{
    font-weight: 500;
}

footer .right h4{
    font-weight: 400;
    color:#aaa;
    cursor: pointer;
}

footer .company, .quick-link, .legal, .left{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

footer .social-media{
    display: flex;
    gap:2rem;
}

footer .social-media img{
    width: 60px;
    height: 60px;
}

/* ==================== NAVIGATION TO TOP */
.nav-to-top{
    position: fixed;
    border-radius: 100%;
    padding:2rem;
    width: 50px;
    height: 50px;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    border: 3px solid black;
    border-style: dashed; 
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.nav-to-top:hover{
    transform: scale(0.9);
}

/* ==================== MAX WIDTH 1000px */
@media only screen and (max-width: 1200px){
    /* ==================== NAV */
    header, .our-profile ,.our-headquarter, .portfolio, .message-us, .footer{
        width: 100%;
        margin: auto;
    }

    span.wave {
        display: none;
    }

    nav#web{
        padding:1%;
        width: 100%;
        margin: auto;
    }

    nav#web ul{
        display: none;
    }

    nav #menu{
        display: block;
        
    }

    nav#mobile.active{
        display: flex;
        flex-direction: row;
        position: fixed;
        top:0;
        right: 0;
        background-image: var(--gradient-yellow);
        height: 100vh;
        width: 350px;
        border-left: 2px solid gray;
        color:black;
    }

    nav#mobile.active ul{
        display: block;
        position: absolute;
        margin:3rem;
        top:0;
    }

    nav#mobile.active ul li{
        margin-bottom: 1rem;
    }

    nav#mobile.active #close{
        top:0;
        right: 0;
        position: absolute;
        animation: spin 0.3s ease;
    }

    @keyframes spin {
        0%{
            rotate: 0deg;
        }

        100%{
            rotate: 180deg;
        }
    }

    /* ==================== WELCOME */
    .welcome{
        width: 100%;
    }

    section{
        padding:0;
    }

    
    /* ==================== OUR-PROFILE */
    .our-profile-description{
        gap:2rem;
        align-items: center;
    }

    .our-profile-description img{
        width: 400px;
        height: 400px;
    }

    .our-profile-description .about-texts{
        font-size: 1.25rem;
    }

    /* ==================== MESSAGE-US */
    .input-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin: auto;
    }


    /* ==================== OUR-HEADQUARTER */
    .headquarter, .portfolio-images{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

     .headquarter{
        padding: 2rem;
        gap: 2rem;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

     .footer .left{
        padding-bottom: 15rem;
     }
}

@media only screen and (max-width: 768px){
    span#first, span#second{
        display: none;
    }

    nav#web{
        padding:0.5rem;
    }

    nav#mobile.active{
        width: 100%;
    }

    nav#web .logo-noe{
        width: 40px;
    }

     .welcome h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2rem;
    }

    .our-profile{
        align-items: center;
        justify-content: center;
    }

    .our-profile img{
        display: none;
    }

     .our-profile h3{
        font-size: 1.5rem;
     }

    .our-profile h4.about-texts{
        width: 100%;
        font-size: 0.9rem;
    }   

    .portfolio-images{
        font-size: 1rem;
    }


    .form-group .radio-group{
        gap:0.5rem;
    }

    .nav-to-top{
        height: 15px;
        width: 15px;
        padding:20px;
        bottom: 10px;
        right:10px;
    }


    .brands-container{
        padding: 1rem 0;
    }

    .brands-container img{
        width: 80px;
        height: 80px;
        margin: 0 2rem
    }   

    .footer .right{
        display: flex;
        flex-direction: column;
        gap:4rem;
        padding-bottom: 1rem;
    }
}


@media (max-width: 480px) {
    .input-wrapper{
        width: 100%;
        padding: 0;
    }
}